<!--// PROFILE HEADER //-->
<div id="cover" class="outer maximized">
  <div id="profile_header" class="inner">
    <div id="profile_picture">
      <img src="<%= @host.image.url %>" class="avatar" alt="<%= @host.full_name %>" />
    </div>
    <div id="profile_information">
      <h1><%= @host.full_name %></h1>
      <span class="profile_type collector">Collector</span>
    </div>
  </div>
</div>