<% 
# Set up layout variables 
@body_id = "user"
@body_classes = "undock"
%>

<!--// GRID //-->
<div id="grid" class="grid">
  <% @users.each do |user| %>
    <%= render "templates/user", :user => user %>
  <% end %>
</div>