<% 
# Set up layout variables 
@body_id = "curate"
@body_classes = "restricted"
%>

<!--// FRAME //-->
<div id="frame" class="right">
  <!--// CONTENT //-->
  <div id="content" class="wrapper">
    <%= render 'form' %>
  </div>
</div>
<div class="spacer"></div>