<% 
# Set up layout variables 
@body_id = "login"
@body_classes = "access"
@hide_header = true;
%>

<!--// CONTAINER //-->
<div id="container">
	<h1><span>CompleteSet</span></h1>
	<div id="content" class="wrapper">
    
    <%= form_for( @user, as: :user, url: login_process_path, method: :post ) do |f| %>
      
      <h2>Log In To Collect</h2>
    
      <!--// STANDARD LOGIN //-->
		  <ul class="standard_login">
        <!--// USERNAME //-->
        <li class="username_field">
          <span class="field">
            <%= f.text_field :email, :placeholder => "Email Address" %>
          <p class="error_message"></p>
          </span>
        </li>
      
        <!--// PASSWORD //-->
        <li class="password_field">
          <span class="field">
            <%= f.password_field :password, :placeholder => "Password" %>
            <p class="error_message"></p>
          </span>
        </li>
      
        <!--// BYPASS //-->
        <li class="bypass">
          <p>
          Need an account? <%= link_to "Join", new_user_path %>
          </p>
        </li>
        </ul>
        <div class="form_footer">
          <div class="form_footer_buttons">
            <button type="submit" name="login"><span class="ss-icon">checkmark</span>Log In</button>
          </div>
        </div>
    <% end %>
    </div>
	<br class="clear" />
</div>