/**** COPYRIGHT 2014 COMPLETESET, LLC ****/
/**** VERSION: BETA ****/

/* !CURATE */
body#curate {}

body#curate div#container div#main div#content.page {padding: 25px; width: 850px;}

body#curate div#container div#main div#content.page form#curate {}

body#curate div#container div#main div#content.page form#curate h3 {
color: #66CC66;
font-size: 1.25em;
font-weight: 400;
margin: 36px 0px 12px 12px;
}

body#curate div#container div#main div#content.page form#curate h4 {
color: #999999;
font-size: 1em;
font-weight: 400;
margin: 12px 0px 12px 12px;
}

body#curate div#container div#main div#content.page form#curate fieldset {
border-top: 1px solid #EEEEEE;
padding: 12px;
position: relative;
}

body#curate div#container div#main div#content.page form#curate fieldset label.standard {
color: #66CC66;
float: left;
margin: 0px 10px 0px 0px;
padding: 18px 0px 0px 0px;
width: 100px;
}

body#curate div#container div#main div#content.page form#curate fieldset div.inputs {float: left;}
body#curate div#container div#main div#content.page form#curate fieldset div.inputs.top {}
body#curate div#container div#main div#content.page form#curate fieldset div.inputs.bottom {margin: 8px 0px 0px 0px;}

body#curate div#container div#main div#content.page form#curate fieldset span.field {float: left;}

body#curate div#container div#main div#content.page form#curate fieldset span.field input {width: 250px;}
body#curate div#container div#main div#content.page form#curate fieldset span.field select {width: 250px;}
body#curate div#container div#main div#content.page form#curate fieldset span.field textarea {width: 450px;}

body#curate div#container div#main div#content.page form#curate fieldset span.field input.date.month {margin: 0px 1px 0px 0px; max-width: 100px;}
body#curate div#container div#main div#content.page form#curate fieldset span.field input.date.day {margin: 0px 1px 0px 0px; max-width: 100px;}
body#curate div#container div#main div#content.page form#curate fieldset span.field input.date.year {margin: 0px 0px 0px 0px; max-width: 115px;}

body#curate div#container div#main div#content.page form#curate fieldset span.note {
color: #CCCCCC;
cursor: default;
display: inline-block;
float: left;
font-family: "myriad-pro", sans-serif;
font-size: 1em;
font-weight: 500;
margin: 0px 0px 0px 12px;
}

body#curate div#container div#main div#content.page form#curate fieldset.input span.note {padding: 18px 0px 0px 0px;}
body#curate div#container div#main div#content.page form#curate fieldset.select span.note {padding: 12px 0px 0px 0px;}
body#curate div#container div#main div#content.page form#curate fieldset.textarea span.note {padding: 12px 0px 0px 0px;}

body#curate div#container div#main div#content.page form#curate fieldset span.note a {
border-bottom: 1px dotted #DDDDDD;
color: #66CC66;
padding: 0px 0px 2px 0px;
}

body#curate div#container div#main div#content.page form#curate fieldset span.note a:hover {
border-bottom: 1px solid #DDDDDD;
color: #999999;
padding: 0px 0px 2px 0px;
}

/* Styles the icons for form field validation. */
body#curate div#container div#main div#content.page form#curate fieldset span.validation {
background: #DDDDDD;
border-radius: 3px;
color: #FFFFFF;
cursor: default;
display: block;
font-size: 10px;
height: 20px;
line-height: 20px;
margin: -10px 0px 0px 0px;
padding: 1px 0px 0px 0px;
position: absolute;
right: 0px;
text-align: center;
top: 50%;
width: 20px;
}

body#curate div#container div#main div#content.page form#curate fieldset span.validation.failure {background: #EC547F;}
body#curate div#container div#main div#content.page form#curate fieldset span.validation.success {background: #66CC66;}

body#curate div#container div#main div#content.page form#curate fieldset#buttons {border: none; text-align: right;}

body#curate div#container div#main div#content.page form#curate fieldset#buttons button.delete {background: #EC547F; float: left;}
body#curate div#container div#main div#content.page form#curate fieldset#buttons button.delete:hover {background: #EC547F;}

/* Styles the "Curate" pages for items. */
body#curate.items {}

body#curate.items div#container div#content.page {
min-height: 100px;
padding: 25px 0px 0px 0px;
width: 95%;
}

body#curate.items div#container div#content.page table.data {}

body#curate.items div#container div#content.page table.data tbody tr.search td {padding: 0px;}

body#curate.items div#container div#content.page table.data tbody tr.search td input {
border: none;
font-size: 2em;
width: 100%;
}

body#curate.items div#container div#content.page table.data tbody tr td.action {width: 25px;}

body#curate.items div#container div#content.page div.pagination {margin: 25px auto; width: 100%;}
body#curate.items div#container div#content.page div.pagination ul {margin: auto; max-width: 500px;}
body#curate.items div#container div#content.page div.pagination ul li {}

body#curate.items div#container div#content.page div.pagination ul li a span.ss-icon {padding: 0px;}

/**** HE WHO DIES WITH THE MOST TOYS WINS ****/