/**** COPYRIGHT 2014 COMPLETESET, LLC ****/
/**** VERSION: BETA ****/
/**** AUTHOR: GARY DARNA ****/

body#manage div#loader {left: 225px;}

/* Styles all "Manage" pages. */
body#manage {}

body#manage div#container div#left {
background: #111111;
display: block;
float: left;
height: 100%;
position: fixed;
width: 201px;
}

body#manage div#container div#right {
margin: 0px 0px 0px 200px;
padding: 0px 0px 25px 0px;
}

body#manage div#container div#right div#superhero {margin: 50px 0px 0px 0px;}

body#manage div#container div#right div#superhero div#hero {
text-align: left;
width: 95%;
}

body#manage div#container div#right div#superhero div#hero h2 span.ss-icon {top: 0px;}

body#manage div#container div#right div#content.page {
margin: 25px auto;
min-height: 100px;
padding: 25px 0px 0px 0px;
width: 95%;
}

/* Styles the table. */
body#manage div#container div#right div#content.page table.data {}

body#manage div#container div#right div#content.page table.data thead tr th.actions {width: 25px;}

body#manage div#container div#right div#content.page table.data tbody tr.search td {padding: 0px;}

body#manage div#container div#right div#content.page table.data tbody tr.search td input {
border: none;
font-size: 2em;
width: 100%;
}

body#manage div#container div#right div#content.page table.data tbody tr td.action {text-align: center; width: 25px;}

/* Styles the table pagination. */
body#manage div#container div#right div#content.page div.pagination {margin: 25px auto; width: 100%;}
body#manage div#container div#right div#content.page div.pagination ul {margin: auto; max-width: 500px;}
body#manage div#container div#right div#content.page div.pagination ul li {}

body#manage div#container div#right div#content.page div.pagination ul li a span.ss-icon {padding: 0px;}


/**** HE WHO DIES WITH THE MOST TOYS WINS. ****/