<% 
# Set up layout variables 
@body_id = "profile"
@body_classes = "brand undock"
%>

<%= render "profile_header" %>

<!--// GRID //-->
<div class="grid">
  <% if @brand.items.size == 0 %>
    <%= render "templates/empty_grid", :message => "No #{@brand.name} collectibles have been curated yet." %>
  <% else %>
    <% @brand.items.each do |item| %>
      <%= render "templates/item", :item => item %>
    <% end %>
  <% end %>
</div>