<!--// Item Modals //-->

<!--// HAVE MODAL //-->
<div id="have" class="overlay" style="display: none">
  <div class="modal" style="display: block;">
    
    <header class="title">
      Have It
      <a href="javascript:" class="close ss-icon">delete</a>
    </header>
    <section class="content">
      <ul class="form">
        <li>Normally there would be stuff in here that you can edit, but I haven't implemented that yet.</li>
      </ul>
    </section>
    <footer class="actions">
      <button type="button" name="unhave"><span class="ss-icon">delete</span>Unhave</button>
      <button type="submit" name="save_have"><span class="ss-icon">heart</span>Save Have</button>
    </footer>
    
  </div>
</div>

<!--// WANT MODAL //-->
<div id="want" class="overlay" style="display: none">
  <div class="modal" style="display: block;">
    
    <header class="title">
      Want It
      <a href="javascript:" class="close ss-icon">delete</a>
    </header>
    <section class="content">
      <ul class="form">
        <li>Normally there would be stuff in here that you can edit, but I haven't implemented that yet.</li>
      </ul>
    </section>
    <footer class="actions">
      <button type="button" name="unwant"><span class="ss-icon">delete</span>Unwant</button>
      <button type="submit" name="save_want"><span class="ss-icon">heart</span>Save Want</button>
    </footer>
    
  </div>
</div>

<script>
/* 
Item-specific Javascript
I put it here because I can't use path helpers in assets.
*/

var item_id;

// Have code
$(document).on("click", ".item.entry .have", null, function(){
  item_id = $(this).closest(".item.entry").prop("id");
  showStatusModal('have');
});
  
$("#have [name='save_have']").click(function(){
  processStatusModal('have', 'have');
});
  
$("#have [name='unhave']").click(function(){
  processStatusModal('have', 'unhave');
});

// Want code
$(document).on("click", ".item.entry .want", null, function(){
  item_id = $(this).closest(".item.entry").prop("id");
  showStatusModal('want');
});
  
$("#want [name='save_want']").click(function(){
  processStatusModal('want', 'want');
});
  
$("#want [name='unwant']").click(function(){
  processStatusModal('want', 'unwant');
});

// Neutral code
$(document).on("mouseover", ".item.entry", null, function(){
  $(this).find(".actions").show();
});
  
$(document).on("mouseout", ".item.entry", null, function(){
  $(this).find(".actions").hide();
});
  
$("#have .close, #want .close").click(function(){
  hideStatusModal('have');
  hideStatusModal('want');
});
  
function showStatusModal(status){
  $("#"+status).show();
}

function hideStatusModal(status){
  $("#"+status).hide();
  item_id = null;
}

function processStatusModal(modal, new_status){
  // Processes the have/want modals
  if( !item_id ){
    showGrowl("What item are you trying to "+status+"?", "error");
    return false;
  }
  
  // Send on to back end
  showIndicator();
  $.ajax({
    type: "POST",
    url: "<%= item_change_status_path %>",
    data: { 'item_id':item_id, 'new_status':new_status },
         dataType: "json",
         success: function( response, status, xhr )
      { 
        hideIndicator();
        if( response.status == 'Success' ){
          showGrowl( response.message, "success" );
          updateItemIcons(new_status);
          hideStatusModal(modal);
          
        }
        else{
          showGrowl( response.message, "error" );
          if( response.log )
            console.log( response.log );
        }
        
      },
        error: function( xhr, status, error ){
          hideIndicator();
          showGrowl("An error occurred. Please refresh and try again.", "error");
        }
    });
  
}

function updateItemIcons(new_status){
  var $have_button = $('#'+item_id+" .have");
  var $want_button = $('#'+item_id+" .want");
  var selected_class = 'selected';
  
  if( new_status == 'have' ){
    if( !$have_button.hasClass(selected_class) ) $have_button.addClass(selected_class);
    $want_button.removeClass(selected_class);
  }
  else if( new_status == 'want' ){
    if( !$want_button.hasClass(selected_class) ) $want_button.addClass(selected_class);
    $have_button.removeClass(selected_class);
  }
  else if( new_status == 'unhave' ){
    $have_button.removeClass(selected_class);
    $want_button.removeClass(selected_class);
  }
  else if( new_status == 'unwant' ){
    $have_button.removeClass(selected_class);
    $want_button.removeClass(selected_class);
  }
  
}
</script>